<% include menu.ejs %>


		<!-- partial -->
		<div class="main-panel">
		<!-- CONTENT AQUI! -->

		<div class="content-wrapper">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">				
					

					<div style="display: flex; justify-content: space-between; margin-bottom: 30px">
						<h4 class="card-title">Lista de ingressos</h4>
						<a href="createIngresso" class="btn btn-success">Adicionar novo ingresso</a>
					</div>
					
					
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
							<tr>    
                                <th class="center">Cliente</th>
								<th class="center">Filme</th>
                                <th class="center">Início</th>
                                <th class="center">Fim</th>
								<th class="center">Sala</th>
							</tr>
			
							</thead>
							<tbody>
							<% for (var i in ingressos) { %>
							<tr>
                                <td class="center"><%= ingressos[i].cliente %> </td>
								<td class="center"><%= ingressos[i].nome %> </td>
                                <td class="center"><%= ingressos[i].inicio %> </td>
                                <td class="center"><%= ingressos[i].fim %> </td>
                                <td class="center"><%= ingressos[i].salas_id %> </td>
								
							</tr>
							<% } %>
							</tbody>
						</table>
					</div>
						
					</div>
				</div>
			</div>
		</div>

		<!-- content-wrapper ends -->
		<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="container-fluid clearfix">
				<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Desenvolvido por Emanoel Johannes e Maria Júlia</i>
				</span>
				</div>
			</footer>
			<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	
		</div>
	</div>

	<!-- plugins:js -->
	<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/assets/js/off-canvas.js"></script>
	<script src="/assets/js/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/assets/js/dashboard.js"></script>
	<!-- Include the Quill library -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</body>

</html>